.location-error {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.1);
    display: none;
}
.modal-overlay {
    display: none;
}
#restaurant_list_container {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}
.restaurant-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-container > img {
    width: 100px;
    height: 100px;
}
.restaurant-body {
    font-size: 1.2rem;
    font-style: italic;
}
.checked {
    color:orange;
}
.item {
    cursor: pointer;
}